{% extends 'core/base.html' %}

{% load funcion_tag %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/carrito.css' %}">

{% if cart.products.exists %}
  <div class="cart">
    <h2>Tu Carrito</h2>
    <table class="cart-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

      {% for cart_product in cart.products.all %}
        <tr>
          <!-- <th>{{forloop.counter}}</th> --> 
          <td style="display: flex; flex-direction: column; align-items: center;">
            {% if cart_product.product.image %}
                <img src="{{cart_product.product.image.url}}" alt="imagenProducto" width="150" height="150">
                <br>
                <span>{{cart_product.product.title | capfirst }}</span>
            {% endif %}
          </td>
          <td>
            <input type="number" min="1" value="1" class="quantity-input">
          </td>
          <td>{{cart_product.product.price | precio_tag}}</td>
          <td>$20.00</td>
          <td>
            <button class="remove-btn">Eliminar</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="cart-summary">
      <p><strong>Total:</strong> $40.000</p>
      <button class="checkout-btn">Proceder al Pago</button>
    </div>
  </div>

  {% else %}

  <div class="col">
    <p class="h3">El carrito no tiene productos</p>
    <a href="{% url 'inicio' %}">Comprar ahora</a>
  </div>
{% endif %}
{% endblock %}