{% extends 'core/base.html' %}

{% load funcion_tag %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/carrito.css' %}">

{% if cart.products.exists %}
  <div class="cart">
    <h2>Tu Carrito</h2>
    <table class="cart-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      {% for i in cart.product_related %}
        {% with product=i.product %}

          <tr>
            <td style="display: flex; flex-direction: column; align-items: center;">
              <!-- {% if product.image %}
                  <img src="{{product.image.url}}" alt="imagenProducto" width="150" height="150">
                  <br>
                  <span>{{product.title | capfirst }}</span>
              {% endif %} -->
              <div class="product-image">
                <div class="card-img-top" style="width: 200px; height: 200px; background-color: #ddd; display: flex; align-items: center; justify-content: center; border-radius: 8px;">
                  <p style="font-size: 20px; color: #555;">200 x 200</p>
                </div>
              </div>
            </td>
            <td>{{ i.quantity }}</td>
            <td>{{product.price | precio_tag}}</td>
            <td>{{i.get_subtotal | precio_tag}}</td>
            <td>
              {% include 'cart/snippets/remove.html' %}
            </td>
          </tr>
        {% endwith%}
      {% endfor %}
      </tbody>
    </table>
    <div class="cart-summary">
      <p><strong>Total:{{ cart.total | precio_tag}}</strong> </p>
      <a href="{% url 'orden_formulario' %}" class="btn btn-primary">Proceder al Pago</a>
    </div>
  </div>
{% else %}
  {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <br>
  <div class="card">
    <div class="card-body">
      <p class="h3">El carrito no tiene productos</p>
      <br>
      <a href="{% url 'inicio' %}" class="btn btn-primary">Comprar ahora</a>
    </div>
  </div>

{% endif %}
{% endblock %}