{% extends 'core/base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/carrito.css' %}">


<div class="cart">
    <h2>Tu Carrito</h2>
    <table class="cart-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="product">
              <img src="product.jpg" alt="Producto">
              <span>Nombre del Producto</span>
            </div>
          </td>
          <td>
            <input type="number" min="1" value="1" class="quantity-input">
          </td>
          <td>$20.00</td>
          <td>$20.00</td>
          <td>
            <button class="remove-btn">Eliminar</button>
          </td>
        </tr>
        <!-- Repite más filas para más productos -->
      </tbody>
    </table>
    <div class="cart-summary">
      <p><strong>Total:</strong> $40.000</p>
      <button class="checkout-btn">Proceder al Pago</button>
    </div>
  </div>
{% endblock %}