/* Estilos para la tarjeta de registro */
.card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #d1d1d1;
    background-color: white;
    border-radius: 10px;
}

/* Estilo para el título */
.title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

/* Estilo para el ícono del título */
.title i {
    margin-right: 10px;
    color: #4c00ff;
}

/* Estilos para el cuerpo del formulario */
.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Estilos para las etiquetas */
.card-body label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* Estilos para los campos de entrada */
.card-body input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Estilos para los mensajes de error */
.card-body .alert {
    margin-top: 5px;
    font-size: 12px;
    color: red;
}

/* Estilo para el contenedor del botón */
.boton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

/* Estilos para el botón de envío */
.boton button {
    padding: 10px 20px;
    background-color: #4c00ff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el botón al pasar el mouse */
.boton button:hover {
    background-color: #3700b3;
}

/* Estilos para los enlaces de "Olvidaste tu contraseña" */
.olvidados {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    gap: 5px;
    margin-top: 20px;
}

/* Estilos para los enlaces */
.olvidados a {
    text-decoration: none;
    color: #4c00ff;
}

/* Estilos para los enlaces al pasar el mouse */
a:hover {
    color: #3700b3;
}
