{% extends 'core/base.html' %}



{% block title %}Producto{% endblock %}

{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">

<div class="product-detail">
    <div class="product-image">
      {% if product.image %}
        <img src="{{product.image.url}}" loading="lazy">
      {% endif %}
    </div>
    <div class="product-info">
        <h2>{{product.title | title }}</h2>
        <p class="price">{{product.price}}</p>
        <p class="description">{{product.description | capfirst  }}</p>
        <div class="actions">
            {% include 'cart/snippets/add.html'%}
        </div>
    </div>
</div>

<script src="{% static 'js/product.js' %}"></script>
{% endblock %}