body {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

main {
    margin-top: 80px; 
}

.hero {
    text-align: center;
    padding: 2em;
    background: #f5f5f5;
}

.hero h2 {
    color: #333;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    text-align: center;
    padding: 2em;
    background: #f5f5f5;
}

.hero h2 {
    color: #333;
}

.btn {
    background-color: #1a73e8;
    color: white;
    padding: 0.5em 1em;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 105%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #f0f0f0;
}

.product h3 {
    font-size: 1.2em;
    color: #333;
    margin: 50px 0px 25px 0px;
}

.product p {
    font-size: 1em;
    color: #888;
    margin-bottom: 25px;
}

.product button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    padding: 1em;
    background: white;
    color: black;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.057);
}



/*REFERENCIA A IMAGEN*/
.image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #aaa;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.image-placeholder span {
    text-align: center;
}

@media (max-width: 768px) {
    .product-list {
        gap: 50px;
    }

    footer {
        background: red;
    }
}